@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: 'Arima', sans-serif;
}

.stack {
	display: flex;
	flex-direction: column;
}

.hstack {
	display: flex;
	flex-direction: row;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

._drop-shadow {
	filter: drop-shadow(0px 1px 2px rgb(230, 230, 230));
}

h1 {
	font-family: Allerta Stencil, sans-serif;
}

.brand-background {
	background-color: #372b48;
	color: white;
}

.brand-color {
	color: #372b48;
}
