@tailwind base;
@tailwind components;
@tailwind utilities;

.stack {
	display: flex;
	flex-direction: column;
}

.hstack {
	display: flex;
	flex-direction: row;
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}
